.navbar{
    transition: height 0.3s ease-out;
    background: #000000 !important;
}

.navbar.active_background{
    background: #000000 !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

.navbar-logo-div{
    display: flex;
    align-items: center;
}

.navbar-logo{
    width: 4%;
    margin-right: 0.7rem;
}

.navbar-brand{
    font-size: 26px !important;
    font-weight: 700;
    color: #fff !important;
    margin-right: 3rem;
}

.nav-item {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.nav-item .nav-link{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.nav-link svg{
    margin-left: auto;
}

.nav-item .nav-link:focus{
    color: #17d8c1 !important;
}

.nav-item .nav-link:hover{
    color: #17d8c1 !important;
}

.btn-login{
    margin-right: 1rem;
}

.navbar-button-mobile{
    width: 100%;
    display: inherit;
    text-align: center;
    margin-top: 1rem;
}

/*Desktop*/
@media (min-width: 1025px) {
    .navbar .container-fluid{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/*Mobile*/
@media (max-width: 767px) {
    .navbar{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .navbar-button{
        font-size: 14px !important;
        font-weight: 400 !important;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        margin-right: 0 !important;
        border: 1px solid #fff;
        border-radius: 100px;
    }

    .navbar-collapse{
        background: #000 !important;
        border-radius: 20px !important;
        padding: 2rem;
    }

    .nav-link2{
        color: #fff !important;
        font-size: 18px !important;
        font-weight: 600 !important;
        display: flex !important;
        align-items: center;
    }

    .nav-link2 .nav-link-span{
        margin-left: auto;
        margin-bottom: 0 !important;
        transform: rotate(180deg);
    }

    .btn-create{
        width: 100%;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        background: #000 !important;
        color: #fff !important;
        margin-top: 10rem;
    }
}