.title span{
    background: #06f;
    background: linear-gradient(90deg,#19fab8,#1495d4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;    
}

.subtitle h4{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
    width: fit-content;
    background: #27272a;
    border-radius: 12px;
    color: white;
}

.subtitle2 h4{
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 14px;
    width: fit-content;
    background: #fff;
    color: #000;
    border-radius: 100px;
}

.btns-flex{
    margin-top: 1rem;
}

.btn-start {
    margin-right: 1rem;
}

.btn-start-timeline{
    margin-right: 1rem;
    margin-top: 3rem;
}

.service-card h5{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 1rem;
}

.service-card p{
    color: #a1a1a1;
    width: 90%;
    line-height: 140%;
    font-size: 14px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.icon{
    border-radius: 15px;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icon2{
    width: fit-content;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-service{
    font-weight: 600;
    color: #fff !important;
    font-size: 16px !important;
    padding: 0 !important;
    background: transparent !important;
}

.timeline-section{
    margin-top: 2rem;
}

.timeline-step{
    display: flex;
}

.rounded-circle-object{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100px;
}

.vertical-hr{
    height: 45vh;
    width: 5px;
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1B1B1B, #00FFA3, #1B1B1B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1B1B1B, #00FFA3, #1B1B1B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: 0.8rem;
}

.timeline-text{
    padding-left: 3rem;
}

.timeline-text h3{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

.timeline-text h5{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.timeline-text h5 span{
    background: #06f;
    background: linear-gradient(90deg,#00FFA3,#00FFA3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;    
}

.pricing-card{
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid #555555;
    width: 33.33%;
    margin-top: 2rem;
}

.pricing-card h5{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0 !important;
}

.pricing-card p{
    color: #dadada;
    width: 90%;
    line-height: 140%;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.pricing-hr{
    height: 0.5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
}

.pricing-value{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.pricing-value .icon{
    background: transparent !important;
    padding: 0;
}

.pricing-value .icon svg{
    font-size: 20px !important;
    fill: #00fff2;
}

.pricing-value .text{
    color: #fff;
    font-size: 16px;
    margin-left: 1rem;
}

.pricing-amount{
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 28px;
    margin-top: 2.5rem;
}

.btn-pricing{
    width: 100%;
    margin-top: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: #fff !important;
    color: #000 !important;
}

.pricing-card-colored h5{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0 !important;
}

.pricing-card-colored p{
    color: #000;
    width: 90%;
    line-height: 140%;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.pricing-card-colored .pricing-hr{
    height: 0.5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2) !important;
    margin-bottom: 1rem;
}

.pricing-card-colored .pricing-value .icon svg{
    font-size: 20px !important;
    fill: #000;
}

.pricing-card-colored .pricing-value .text{
    color: #000;
    font-size: 16px;
    margin-left: 1rem;
}

.pricing-card-colored .pricing-amount{
    color: #000;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 28px;
    margin-top: 2.5rem;
}

.pricing-card-colored .btn-pricing{
    width: 100%;
    margin-top: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: #000 !important;
    color: #fff !important;
}

.testimonial-card .icon{
    background: transparent;
    padding: 0;
}

.testimonial-card .icon svg{
    fill: #00FFA3;
}

.author{
    display: flex;
    align-items: center;
}

.author-name{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.author-role{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.author-image {
    width: fit-content;
    margin-right: 1rem;
}

.author-image img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none !important;
    padding: 0 !important;
    background-color: transparent !important;
}

.questions-title{
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
}

.accordion-item{
    background: transparent !important;
    border: none !important;
}

.accordion-button{
    background-color: transparent !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    border-bottom: 1px solid #3A3A3A !important;
    border-radius: 0 !important;
}

.accordion-button:focus{
    box-shadow: none !important;
}

.accordion-button:not(.collapsed){
    box-shadow: none !important;
}

.accordion-button::after {
    display: none !important;
}

.accordion-body{
    font-size: 16px !important;
    color: #dadada !important;
    line-height: 140% !important;
}

.accordion-button .icon{
    background-color: transparent !important;
    padding: 0 !important;
    margin-right: 1rem;
}

.accordion-button .icon svg{
    font-size: 24px !important;
    fill: #00B2FF;
}

.accordion-button.collapsed .icon::before {
    content: "+";
    font-size: 40px;
    display: inline-block;
    margin-right: 5px; /* Aggiungi margine per spaziare il simbolo dal testo */
    transition: transform 0.3s ease; /* Aggiungi un'animazione di transizione */
    color: #00B2FF;
  }

  .accordion-button .icon::before {
    content: "-";
    font-size: 40px;
    display: inline-block;
    margin-right: 5px; /* Aggiungi margine per spaziare il simbolo dal testo */
    transition: transform 0.3s ease; /* Aggiungi un'animazione di transizione */
    color: #00B2FF;
  }

  .component-adv .title h1{
    font-size: 34px;
  }

  .component-adv .title p{
    font-size: 18px;
    color: #dadada;
  }

  .device-section{
    margin-top: 5rem !important;
  }

  .main-CTA{
    display: flex;
    margin-top: 2rem;
  }
  

/*Desktop*/
@media (min-width: 1025px) {

    .first-section{
        width: 100%;        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .home-section{
        padding-top: 7rem;
        padding-bottom: 7rem;
        width: 100%;
        padding-left: 5rem;
        padding-right: 3rem;
    }

    .first-section-left{
        padding-bottom: 12rem;
        padding-top: 12rem;
        padding-left: 4rem;
        padding-right: 4rem;
        background-color: #0000007e;
    }

    .service-card{
        padding: 1.5rem;
        border-radius: 20px;
        border: 1px solid #2c2c2c;
        width: 33.33%;
        margin-top: 2rem;
        background-color: #131314;
    }

    .service-card:hover{
        background-color: #27272b;
    }

    .title h1{
        font-size: 84px;
        font-weight: 700;
        line-height: 90%;
        color: #fff;
    }
    
    .title h3{
        font-size: 42px;
        font-weight: 700;
        line-height: 90%;
        color: #fff;
    }

    .description{
        color: #dadada;
        width: 90%;
        line-height: 130%;
        margin-top: 1rem;
        font-size: 16px;
    }

    .pricing-card{
        padding: 1.5rem;
        border-radius: 20px;
        border: 1px solid #555555;
        width: 33.33%;
        margin-top: 2rem;
    }

    .pricing-card-colored{
        padding: 1.5rem;
        border-radius: 20px;
        width: 33.33%;
        margin-top: 2rem;
        background: #7474BF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #78F3E7, #83C5FE);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #78F3E7, #83C5FE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .testimonial-card{
        padding: 1.5rem;
        border-radius: 20px;
        border: 1px solid #555555;
        width: 25%;
        margin-top: 2rem;
    }

    .testimonial-card p{
        color: #fff;
        width: 90%;
        line-height: 140%;
        font-size: 16px;
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
    }

    .screenpage{
        /*width: 45% !important;*/
        margin-left: auto;
        margin-right: auto;
    }
    
    .component-adv{
        background: #131314;
        padding: 4rem !important;
        border-radius: 20px;
        border: 1px solid #2c2c2c;
    }

    .description-device{
        width: fit-content;
        margin-left: auto;
        margin-top: 2rem;
        margin-right: 1rem;
      }

    .description-device p{
        font-size: 20px;
        color: #dadada;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.5px;
      }
    
      .description-device p .span{
        font-weight: 700;
        color: #fff;
        font-size: 42px;
      }
    
      .description-device p .span2{
        font-weight: 700;
        color: #fff;
        font-size: 28px;
      }

      .main-CTA-title{
        font-size: 36px;
        color: #fff;
        font-weight: 800;
      }
    
      .main-CTA-select{
        width: 20% !important;
        margin-left: 0.5rem !important;
        background-color: transparent !important;
        color: #fff !important;
        border: 1px solid #ffffff75 !important;
        font-size: 26px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        cursor: pointer;
      }
    
      .main-CTA-select:focus{
        box-shadow: none !important;
      }
    
      .main-CTA-select::-ms-expand {
        background-color: rgba(0, 0, 0, 1);
        color: white;
      }
      
      .main-CTA-select::after {
        content: '\25BC'; /* Freccia verso il basso */
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: white;
        font-weight: bold;
      }
      
      /* Aggiungi questa regola per impostare il colore del testo all'interno del dropdown su bianco */
      .main-CTA-select option {
        color: white;
        background-color: rgba(0, 0, 0, 1);
        font-size: 14px;
      }
}

/*Mobile*/
@media (max-width: 767px) {
    .first-section{
       width: 100%;
       background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .home-section{
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        --bs-gutter-x: 0rem !important;
    }

    .first-section-left{
        padding-bottom: 8rem;
        padding-top: 8rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #0000007e;
    }

    .service-card{
        padding: 1.5rem;
        border-radius: 20px;
        border: 1px solid #555555;
        margin-top: 2rem;
    }

    .title h1{
        font-size: 56px;
        font-weight: 700;
        line-height: 100%;
        color: #fff;
    }

    .title h3{
        font-size: 34px;
        font-weight: 700;
        line-height: 90%;
        color: #fff;
    }

    .description{
        color: #dadada;
        width: 90%;
        line-height: 130%;
        margin-top: 1rem;
        font-size: 14px;
    }

    .build-your-campaing{
        margin-top: 3rem;
    }

    .timeline-text h3{
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }
    
    .timeline-text h5{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.5px;
    }

    .pricing-card{
        padding: 1.5rem;
        border-radius: 20px;
        border: 1px solid #555555;
        margin-top: 2rem;
        width: 100%;
    }

    .pricing-card-colored{
        padding: 1.5rem;
        border-radius: 20px;
        width: 100%;
        margin-top: 2rem;
        background: #7474BF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #78F3E7, #83C5FE);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #78F3E7, #83C5FE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .testimonials-section{
        width: 100%;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
    }

    .testimonial-card{
        padding: 1.5rem;
        border-radius: 20px;
        border: 1px solid #555555;
        margin-top: 2rem;
        margin-right: 2rem;
        float: left;
    }

    .testimonial-card p{
        color: #fff;
        width: 60vw;
        line-height: 140%;
        font-size: 16px;
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
    }

    
    .component-adv{
        background: #131314;
        padding: 2.5rem !important;
        border-radius: 20px;
        border: 1px solid #2c2c2c;
    }

    .description-device{
        width: fit-content;
        margin-top: 4.5rem !important;
        margin-bottom: 4.5rem !important;
      }

    .description-device p{
        font-size: 20px;
        color: #dadada;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.5px;
      }
    
      .description-device p .span{
        font-weight: 700;
        color: #fff;
        font-size: 42px;
      }
    
      .description-device p .span2{
        font-weight: 700;
        color: #fff;
        font-size: 28px;
      }

      .main-CTA-title{
        font-size: 28px;
        color: #fff;
        font-weight: 800;
      }
    
      .main-CTA-select{
        margin-left: 0.5rem !important;
        background-color: transparent !important;
        color: #fff !important;
        border: 1px solid #ffffff75 !important;
        font-size: 20px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        cursor: pointer;
      }
    
      .main-CTA-select:focus{
        box-shadow: none !important;
      }
    
      .main-CTA-select::-ms-expand {
        background-color: rgba(0, 0, 0, 1);
        color: white;
      }
      
      .main-CTA-select::after {
        content: '\25BC'; /* Freccia verso il basso */
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: white;
        font-weight: bold;
      }
      
      /* Aggiungi questa regola per impostare il colore del testo all'interno del dropdown su bianco */
      .main-CTA-select option {
        color: white;
        background-color: rgba(0, 0, 0, 1);
        font-size: 14px;
      }

}